html, body { height: 100%;width:100% }
 body {
            margin:5px;
        }

.my-container {
  border:1px solid green;
}

.first-row {
  border: 1px solid blue;

}
.second-row {
  border: 1px solid black;

}

.my-col {
  border : 1px yellow;

}
